version: "3.8"
services:
  backend:
    build: .
    ports: ["3000:3000"]
    command: npm start

  web:
    build:
      context: ./frontend/web
    ports: ["3001:3001"]
    command: npm run start
    depends_on: [backend]

  db:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5432:5432"]
    volumes:
      - db-data:/var/lib/postgresql/data
